{% extends "base.html" %} 
{% block extra_head %}

{% endblock extra_head %} 
{% block content %}

<main>
  <div class="container m-fluid mt-3">
    <div class="section--wrap flex align-end">
        <h1 class="section--wrap--title title-btn">決済完了</h1>
        <div class="line-full"></div>
    </div>
    <div class="container">
        <h1 class="box-title">決済が完了しました！</h1>
    </div>
   <div class="payment-box radius-orange-box">
       <h1 class="payment-box-title text-center">ご購入いただき、ありがとうございます。<br>
        こちらより商品詳細ページへ戻り、ダウンロードして下さい。
        </h1>
        <div class="arrow-down flex">
            <i class="fa fa-caret-down ma" aria-hidden="true"></i>
        </div>
        <div class="flex">
            <a href="{% url 'core:purchased' %}" class="all-products">購入済み商品一覧</a>
        </div>
   </div>
  </div>
</main>

{% endblock content %}
